 body {color: black;}

.post-title {color: black !important;}

.delete-link  {background-color: gainsboro;}

.zone-wrapper {background-color: lightslategrey;}

.zone-wrapper postsListTop {background-color: black;}