 html {
    color: #212121 !important;
}
body {
     background: #F5F5F5;
     
}

header.header.dark-bg {
    background: #607D8B;
}


.post-title {color: black !important;}

.delete-link  {background-color: gainsboro;}

.zone-wrapper {background-color: #B6B6B6;}

.zone-wrapper postsListTop {background-color: #9E9E9E;}

.zone-wrapper.nav.primary-nav { background-color: #FFF; }

.submit-button.secondaryNav-module.header-submodule { background: #D02D21 !important;}

.post-avatars {display: none;}

h1.logo-text a {
    font-family: 'Special Elite';
    font-size: 36px;
    color: black !important;
}

.zone-wrapper.nav.primary-nav {visibility: hidden;}

.zone-wrapper.nav.secondary-nav.desktop-nav.header-module.desktop-only {background: transparent !important;}

span.user-menu-username {visibility: hidden;}